<input
  checked={{checked}}
  class="mr-2 self-center"
  id={{forId}}
  name={{name}}
  onchange={{action onchange value checked}}
  type={{type}}
  value={{value}}
>
<label class="block flex-1 text-grey-darker text-sm font-bold" for={{forId}}>
  {{yield}}
</label>