<nav class="flex items-center justify-between flex-wrap bg-blue p-6">
  <div class="flex mr-32 lg:hidden">
    {{link-to 'TillTax' 'index' class="font-semibold text-xl tracking-tight text-white"}}
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-blue-lighter border-blue-light hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
      </svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-xl lg:flex-grow font-semibold tracking-tight sm:hidden md:hidden">
      {{link-to 'TillTax' 'index' class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-blue-lighter mr-4"}}
    </div>
    <div class="text-sm lg:flex-grow">
      {{link-to 'Contact' 'contact' class="block mt-4 lg:inline-block lg:mt-0 text-blue-lighter hover:text-white mr-4"}}
    </div>
    <div class="text-sm lg:flex-grow">
      {{link-to 'About' 'about' class="block mt-4 lg:inline-block lg:mt-0 text-blue-lighter hover:text-white mr-4"}}
    </div>
    <div class="text-sm lg:flex-grow">
      {{link-to 'Disclaimer' 'disclaimer' class="block mt-4 lg:inline-block lg:mt-0 text-blue-lighter hover:text-white mr-4"}}
    </div>
    <div class="text-sm lg:flex-grow">
      {{link-to 'Privacy' 'privacy' class="block mt-4 lg:inline-block lg:mt-0 text-blue-lighter hover:text-white mr-4"}}
    </div>
  </div>
</nav>
