<div id="application" class="flex flex-col h-full">
  {{#tt-navbar}}
    {{tt-nav-link "Home" "home"}}
    {{tt-nav-link "About Us" "about"}}
    {{tt-nav-link "Contact Us" "contact"}}
    {{tt-nav-link "Privacy Policy" "privacy"}}
    {{tt-nav-link "Disclaimer" "disclaimer"}}
  {{/tt-navbar}}

  <div id="content" class="flex flex-1">
    {{outlet}}
  </div>

  {{#tt-footer}}
    I"m a footer
  {{/tt-footer}}
</div>